GITHUB_TOKEN="Your Github Personal Access Token Here"
WEBHOOK_SECRET="Web Hook Secret Here"
MONGO_URI="Mongo DB URI Here"
REDIS_URL="Redis URL Here"
NVIDIA_API_KEY="Nvidia Api Key Here"
GATEWAY_URL="Gateway Service Render Url Here"